@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px;
  gap: 17px;
}

.logo {
  transform: translate(-9px, -169px);
}

.paragraph-style {
  color: #9eabb2;
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

header {
  color: #4c545c;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.52173912525177px;
  text-align: center;
  font-family: Bai Jamjuree SemiBold;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.button-one {
  padding: 13px 49px;
  background-color: #26bba4;
  color: white;
  box-shadow: 0px -3px 0px 0px #00000027 inset;
  border-radius: 28px;
  font-family: Bai Jamjuree SemiBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
}

.button-two {
  padding: 13px 46px;
  background-color: #6174ff;
  color: #ffffff;
  font-family: Bai Jamjuree SemiBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 10px 20px 0px #00000019;
  box-shadow: 0px -3px 0px 0px #00000027 inset;
  border: none;
  border-radius: 28px;
}

.keep-track-style {
  font-family: Bai Jamjuree SemiBold;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.5869565010070801px;
  text-align: center;
  color: #4c545c;
}

.contact-section {
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.13500000536441803px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4c545c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-computer {
  width: 312px;
}

.image-devices {
  width: 272px;
}

.supercharge-style {
  color: #4c545c;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.52173912525177px;
  text-align: center;
  font-family: Bai Jamjuree SemiBold;
}

.span-style {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  color: #9eabb2;
}

.icon-blacklist-style {
  font-family: Bai Jamjuree SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.3913043141365051px;
  text-align: center;
  color: #4c545c;
}

.search-sync-section {
  font-family: Bai Jamjuree SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.3913043141365051px;
  text-align: center;
  color: #4c545c;
}

.search-sync-span-section {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  color: #9eabb2;
}

.access-style {
  font-family: Bai Jamjuree SemiBold;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.4565216898918152px;
  text-align: center;
  color: #4c545c;
}

.access-span-style {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  color: #9eabb2;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}

.clipboard-style {
  color: #4c545c;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.52173912525177px;
  text-align: center;
  font-family: Bai Jamjuree SemiBold;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
